@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@layer utilities {
  .bg-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(/assets/images/main-bg.jpg);
  }

  .bg-section-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(/assets/images/contact-form-bg.jpg);
  }
  .main-btn-bg {
    @apply bg-green-500 hover:!bg-green-500/80;
  }

  .parallax-footer {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(/assets/images/footer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .parallax-services {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(/assets/images/services-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .parallax-donate {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(/assets/images/foundation.jpeg);
    background-repeat: no-repeat;
  }

  .parallax-chrismas {
    background-attachment: fixed;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url(/assets/images/chrismas-tree.jpg);
  }

  .dancing-script-regular {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .dancing-script-bold {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .color-hover-transition {
    @apply hover:text-green-500 transition-colors delay-75 duration-300;
  }
}

.next-video-container {
  padding: 2px;
  background-color: black;
  border-radius: 20px;
}
